<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Web Page</title>
    <link th:href="@{/css/meyawo.css}" rel="stylesheet" />
    <link th:href="@{/vendors/themify-icons/css/themify-icons.css}" rel="stylesheet" />
</head>
<body>
    <script th:src="@{/vendors/jquery/jquery-3.4.1.slim.js}"></script>
    <script th:src="@{/vendors/jquery/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/meyawo.js}"></script>
</body>
</html>